@font-face {
    font-family: 'Montserrat';
    src: url('ressources/Montserrat/Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

.header {
    background: #f0eeea;
    color: #3c424d;
    font-size: 30px;
    box-shadow: none !important;
    height:95px;
  }
.header img {
    float: left;
    padding-left: 20px;
    margin-top: 20px;
    width:120px;
}

#content{
    margin-top: 2%;
    margin-left: 5%;
    font-size:20px;
    font-weight: 400;
    font-family: 'Montserrat';
}
#content h3{
    color: #a4bd0a;
}

#form p{
    color: #64686f;
}
#form input{
    width: 50px;
}

/* CHARTE COULEURS
#a4bd0a; Vert Mecanalu
#f0eeea; Gris Header Mecanalu
#64686f; Gris Texte Mecanalu
#aaadb4; Gris Clair Texte Mecanalu ???
#3c424d; Gris Foncé Texte Mecanalu ???

*/
