@font-face {
    font-family: 'Montserrat';
    src: url('ressources/Montserrat/Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

.header {
    background: #f0eeea;
    color: #3c424d;
    font-size: 30px;
    box-shadow: none !important;
    height:95px;
  }
.header img {
    float: left;
    padding-left: 20px;
    margin-top: 20px;
    width:120px;
}

#content{
    margin-top: 2%;
    margin-left: 4%;
    font-size:20px;
    font-weight: 400;
    font-family: 'Montserrat';
}
#content h3{
    background-color: #a4bd0a;
    color: #ffffff;
    width:30%;
    padding-left: 2%;
}
#content h2{
    color: #a4bd0a;
}
#content h4{
    font-family:'Montserrat';
    text-align:center;
}
#form p{
    color: #64686f;
}
#form input{
    width: auto;
}

#horizontal form{
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 20px;
}
/* Test, a effacer
#horizontal table{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#horizontal table th{
    color: #a4bd0a;
    width: 28%;
    padding-left: 2%;
} */

#horizontal_item{
    margin-left: 4%;
}

#form input[type="submit"], button {
    background-color: #a4bd0a;
    color: #ffffff;
    font-family: 'Montserrat';
    padding: 10px 20px;
    font-size: 20px;
}

#content form #submitButton input[type="submit"], button  {
    background-color: #a4bd0a;
    color: #ffffff;
    font-family: 'Montserrat';
    padding: 10 px 20px;
    font-size: 20px;
}
#buttonPasser{
    background-color: #000000;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
footer{
    position: absolute;
    bottom: 0;
    width: 100%;
}
/* CHARTE COULEURS
#a4bd0a; Vert Mecanalu
#f0eeea; Gris Header Mecanalu
#64686f; Gris Texte Mecanalu
#aaadb4; Gris Clair Texte Mecanalu ???
#3c424d; Gris Foncé Texte Mecanalu ???

*/
